   <!-- Modal Trigger -->
   <!-- <a id="main_page_initiative_card_profile_btn" class="waves-effect waves-light btn modal-trigger " href="#main_page_initiative_card_profile">Modal</a> -->
   <a style="width: 1px !important;height:1px !important;" id="main_page_initiative_card_profile_btn" class=" modal-trigger " href="#main_page_initiative_card_profile"></a>

   <!-- Modal Structure -->
   <div id="main_page_initiative_card_profile" class="modal bottom-sheet" style="min-height:80% !important; border-radius: 20px 20px 0px 0px !important;">
     <div class="modal-content" id="modal-content" style="overflow: hidden !important;">
       <h4 id="initiative_card_profile_title">Modal Header</h4>
       <p id="initiative_card_profile_description">A bunch of text</p>
     </div>
   </div>


   