{% extends 'base.html' %}v
{% block 'mainbody' %}

<style>
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { overflow: -moz-scrollbars-none !; }
#main_page_initiative_card_profile::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
#main_page_initiative_card_profile {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  .mapboxgl-ctrl-geocoder {
    border-bottom: none!important; 
  min-width: 100%; 
  } 
 

  .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
    all:unset !important;
    overflow: hidden !important;
    height:initial !important
}

.mapboxgl-ctrl-geocoder--input{
border-bottom: none!important;
box-shadow: none!important;
border-bottom: 0px !important;
margin: 0px !important;
margin-left: 2rem !important;
height: 36px !important; 
width: 80% !important;
}
svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search  {
  top:8px !important
}  
.mapboxgl-ctrl-geocoder--icon-close {
  margin-top: 6% !important;
  margin-right: 1rem !important;
}
#map {width: 100%;height:85vh }


.input-field.input-outlined > input {
  border: 2px solid #eee; 
  padding:0px 0px 0px 1vw;
  width: 95%;
  float: none;
  display: block;
  border-radius: 4px;
  transition: box-shadow, border-color 0.15s; 
}
.input-field.input-outlined > input:focus:not([readonly]) {
  border-color: #26A69B;
  box-shadow: 0 1px 0 0px #26A69B;
}
.input-field.input-outlined > label {
  left: 0.5rem;
  display: inline-flex;
  width: auto !important;
}
.input-field.input-outlined > label.active {
  background: white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  transform: translateY(-1.75rem);
  top: 1rem;
}
.main_page_left_bar_container{
  
  height: 85vh; 
}


#initiative_card_profile_map{height: 50vh; width: 100% !important; }


</style>
 


   {% include 'partials/root/main_page_initiative_card_profile.html' %}

 
<!-- Messages -->
<div class="container">
  <center>
    {% if message  %}
      <h4 class="green-text">{{message}}</h4>
    {% endif %}
  
     {% if error  %}
      <h4 class="red-text">{{error}}</h4>
    {% endif %}
  
    
  </center>
  
<div style="margin:2% 6%"> 

  
</div>
</div>

<div class="row" style="margin:0px 0.5%">

  <!-- Left Bar -->
  <div class="col l3 m3 s12 main_page_left_bar" >
      <div class=" z-depth-2 main_page_left_bar_container" style="border-radius:5px;padding:1% 6% 1% 6%">


        <!-- Location AutoFill -->
        <div>
          <h6><b>Location</b></h6>
          <div id="geocoder" class="geocoder search_location_main_page_filter" style="position: inherit !important;margin-bottom: 10px !important;"></div>
        </div>
       
        <!-- Range in Kilometers -->
        <div>
          <h6><b>Radius</b></h6>
          <div class="input-field input-outlined">
            <input id="range_in_km" type="number"  >
            <label for="range_in_km">Radius in Kilometers</label>
          </div>   
        </div>
       
        <!-- Date Range -->
        <div>
          <h6><b>Date</b></h6>
          <div class="input-field input-outlined">
            <input id="date" type="text" class="input-outlined datepicker">
            <label for="date">Selct Date</label>
          </div>   
        </div>
       



        <!-- Categories -->
        <div>
          <h6><b>Categories</b></h6>
          <p>
            <label>
              <input class='main_page_category_filter' type="checkbox" value="Green Areas">
              <span>Green Areas</span>
            </label>
          </p>
          {% for category in categories %}
            <p>
              <label>
                <input class='main_page_category_filter' type="checkbox" value='{{category}}'/>
                <span>{{category}}</span>
              </label>
            </p>
          {% endfor %}
        </div>



      </div>
    
  </div>



  <!-- Right Bar -> MAP Area -->
  <div class="col l9 m9 s12">
      <div id="map" class="z-depth-2"></div>
  </div>
</div>






  


<script>


  
  
</script>








<script>
  class ClickableMarker extends mapboxgl.Marker {
    // new method onClick, sets _handleClick to a function you pass in
    onClick(handleClick) {
      this._handleClick = handleClick;
      return this;
    }

    // the existing _onMapClick was there to trigger a popup
    // but we are hijacking it to run a function we define
    _onMapClick(e) {
      const targetElement = e.originalEvent.target;
      const element = this._element;

      if (this._handleClick && (targetElement === element || element.contains((targetElement)))) {
        this._handleClick();
      }
    }
  };
 

  $('.mapboxgl-ctrl-geocoder--input').addClass('browser-default')
  $('.mapboxgl-ctrl-geocoder--input').attr("placeholder", "Type your answer here");
  mapboxgl.accessToken = 'pk.eyJ1IjoibWFzaG9vZDEyMyIsImEiOiJja3JpcTAwcXE0M3YyMzByMmxuM25yaGlkIn0.-7kWuyQlkkj0m9X-EuNnFw';
  const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [parseInt('{{longitude}}'), parseInt( '{{latitude}}')],
  //center: [-78.4512, 43.6568],
  zoom: 13
  });
  const geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  mapboxgl: mapboxgl, 
  });

  const marker1 = new mapboxgl.Marker({
    'color':'#4668F2'
  })
  .setLngLat([parseInt('{{longitude}}'), parseInt( '{{latitude}}')])
  .addTo(map);



  document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
  geocoder.on('result', function(e) {
    $('#longitude').val(e.result.center[0])
    localStorage.setItem("main_page_filter_longitude",e.result.center[0]);
    localStorage.setItem("main_page_filter_latitude",e.result.center[1]);
 

    Extract_Cluster(map,ClickableMarker)
    //alert(localStorage.getItem("main_page_filter_latitude"))
    })



    $('#range_in_km').keyup(function(e){
      var range_in_km = $('#range_in_km').val()
      localStorage.setItem("main_page_filter_range_in_km",range_in_km);
      Extract_Cluster(map,ClickableMarker)
    })

    $('#date').change(function(e){
      var date = $('#date').val()
      localStorage.setItem("main_page_filter_date",date);
      Extract_Cluster(map,ClickableMarker)
    })
    
    
    
    $('.main_page_category_filter').change(function(e){
 
      var checked_catgories = []
      var check_boxes = $('.main_page_category_filter:checked')
      for(var x=0;x<check_boxes.length;x++){
        checked_catgories.push(check_boxes[x].value)
      }  
      localStorage.setItem("main_page_filter_checked_catgories",checked_catgories);
      Extract_Cluster(map,ClickableMarker)
    })





    
   


  </script>
 
{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}