{% extends 'base.html' %}v
{% block 'mainbody' %}

<style>
.join_btn{
  background-color:none !important;
  background:rgb(89, 255, 89) !important;
  border: 2px solid rgb(8, 241, 0);
  color: rgb(0, 161, 13);
}
</style>

<br>

<div class="container">
  <center>
    {% if message  %}
      <h4 class="green-text">{{message}}</h4>
    {% endif %}
  
     {% if error  %}
      <h4 class="red-text">{{error}}</h4>
    {% endif %}
  
    
  </center>
  
<div style="margin:2% 6%"> 
   {% for initiative in initiatives %}
      <div class="z-depth-2" style="border-radius: 10px;padding: 5px 10px;">
        <div>
          <div style="display: flex;align-items: center;flex-direction: row;">
          <p >{{initiative}} </p>
            <button style="border-radius: 30px;margin-left: auto;font-size: px;" class="green accent-3  waves-effect waves-light btn right ">
              Join +
              <!-- <i class="material-icons right">add</i> -->
            </button>

          </div>

        </div>
         
      </div>
      <br>
   {% endfor %}
</div>
</div>





<script> 
   
  </script>
  


 


{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}