{% extends 'base.html' %}v
{% block 'mainbody' %}

<style> 
  .mapboxgl-ctrl-geocoder {
    border-bottom: none!important; 
  min-width: 100%; 
  } 
 

  .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
    all:unset !important;
    overflow: hidden !important;
    height:initial !important
}

.mapboxgl-ctrl-geocoder--input{
border-bottom: none!important;
box-shadow: none!important;
border-bottom: 0px !important;
margin: 0px !important;
margin-left: 3rem !important;
height: 36px !important; 
width: 80% !important;
}



#select_category{
  height: 36px !important; 
}




  .mapboxgl-ctrl-geocoder--icon-search {
     top:15% !important
  }  
  .mapboxgl-ctrl-geocoder--icon-close {
     margin-top: 6% !important;
     margin-right: 1rem !important;
  }
  #map {width: 100%;height:600px }
 .row .col{
   margin: 0px !important;
   padding:0% !important
 }
  </style>

<br>

<div class="container">
  <center>
    {% if message %}
    <h4 class="green-text">{{message}}</h4>
    {% endif %}

    {% if error %}
    <h4 class="red-text">{{error}}</h4>
    {% endif %}


  </center>



  <div class="container">
    <form action="/account/signup/" method="post" id="signup_form" class='z-depth-2'
      style="padding: 20px;border-radius: 10px;"> {% csrf_token %}
      <center>
        <h3><b>Signup Form</b></h3>
      </center>


      <div class="input-field ">
        <input id="username" name="username" type="text" class="validate" required>
        <label for="username">Username</label>
      </div>

      <div class="input-field ">
        <input id="email" name="email" type="email" class="validate" required>
        <label for="email">Email</label>
      </div>



      <div class="input-field ">
        <input id="password" type="password" name="password" class="validate" required>
        <label for="password">Password</label>
      </div>


      <div class="row"> 
   
  
        <div id="geocoder" class="geocoder" style="position: inherit !important;margin-bottom: 10px !important;"></div>
        <div id="map" class="z-depth-2" style="width:1px;height:1px"></div>
      </div>


      <br>
 
 


      <a href="/account/login/"> <u>Already have an account</u> </a>

      <button class="btn right" style="width: 30%;">Sign Up</button>
      <br> 

     <div style="visibility: hidden;">
      <input id="longitude" name="longitude" type=''  style="width: 0.1px !important;height:0.1px !important">
      <input id="latitude" name="latitude" type=''  style="width: 0.1px !important;height:0.1px !important">
      <input id="place_name" name="place_name" type=''  style="width: 0.1px !important;height:0.1px !important">
      <input id="city" name="city" type=''  style="width: 0.1px !important;height:0.1px !important">
      <input id="region" name="region" type=''  style="width: 0.1px !important;height:0.1px !important">
      <input id="country" name="country" type=''  style="width: 0.1px !important;height:0.1px !important">

     </div>
    </form>
  </div>
</div>





<script>
  $('.mapboxgl-ctrl-geocoder--input').addClass('browser-default')
  $('.mapboxgl-ctrl-geocoder--input').attr("placeholder", "Type your answer here");
  mapboxgl.accessToken = 'pk.eyJ1IjoibWFzaG9vZDEyMyIsImEiOiJja3JpcTAwcXE0M3YyMzByMmxuM25yaGlkIn0.-7kWuyQlkkj0m9X-EuNnFw';
  const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [-79.4512, 43.6568],
  zoom: 13
  });
  const geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  mapboxgl: mapboxgl, 
  });
  document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
  geocoder.on('result', function(e) {


  var data = e.result
  var longitude = data.center[0]
  var latitude = data.center[1]
  var place_name = data.place_name
  var city = data.context[data.context.length-3].text
  var region = data.context[data.context.length-2].text
  var country = data.context[data.context.length-1].text

  $('#longitude').val(longitude)
  $('#latitude').val(latitude)
  $('#place_name').val(place_name) 
  $('#city').val(city) 
  $('#region').val(region) 
  $('#country').val(country) 








    })
  </script>


<script>

  function isOkPass(p){
    var anUpperCase = /[A-Z]/;
    var aLowerCase = /[a-z]/; 
    var aNumber = /[0-9]/;
    var aSpecial = /[!|@|#|$|%|^|&|*|(|)|-|_]/;
    var obj = {};
    obj.result = true;
    if(p.length < 8){
        obj.result=false;
        obj.error="Not long enough!"
        return obj;
    }
    var numUpper = 0;
    var numLower = 0;
    var numNums = 0;
    var numSpecials = 0;
    for(var i=0; i<p.length; i++){
        if(anUpperCase.test(p[i]))
            numUpper++;
        else if(aLowerCase.test(p[i]))
            numLower++;
        else if(aNumber.test(p[i]))
            numNums++;
        else if(aSpecial.test(p[i]))
            numSpecials++;
    }
    if(numUpper < 2 || numLower < 2 || numNums < 2 || numSpecials <2){
        return false
    }
    return true;
}






  $("#signup_form").submit(function(e){
    var password =  $('#password').val()
    var location = $('.mapboxgl-ctrl-geocoder--input').val()  
    if (/\S/.test(location)){
      if(isOkPass(password)!= true){
        e.preventDefault()
       alert("Password should contain atleast \n 2 numbers \n 2 Lowercase characters\n 2 Uppercase characters\n 2 Special characters")
      }
      
    }else{
      e.preventDefault()
      alert("Select valid Locationy")
    }
  })
  



</script>




{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}