{% extends 'base.html' %}v
{% block 'mainbody' %}

<style>
  .input-field.input-outlined > input {
    border: 2px solid #eee; 
    padding:0px 0px 0px 1vw;
    width: 95%;
    float: none;
    display: block;
    border-radius: 4px;
    transition: box-shadow, border-color 0.15s; 
  }
  .input-field.input-outlined > input:focus:not([readonly]) {
    border-color: #26A69B;
    box-shadow: 0 1px 0 0px #26A69B;
  }
  .input-field.input-outlined > label {
    left: 0.5rem;
    display: inline-flex;
    width: auto !important;
  }
  .input-field.input-outlined > label.active {
    background: white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    transform: translateY(-1.75rem);
    top: 1rem;
  }
</style>


<br>




<div class="z-depth-2" style="border-radius: 10px;margin:0px 5%">
  <div class="row" style="padding:10px 0px">


    <div class="col s12 m6 l3">
      <select name="category" class="browser-default" id="select_category" required>
        <option value="" disabled selected>Choose Categoty</option>
        <option value="All Initiatives">All Initiatives</option>
        {% for category in categories %}
        <option value="{{category.category}}">{{category.category}}</option>
        {% endfor %}
      </select> 
    </div>

    <div class="col s12 m6 l3">
      <div class="input-field input-outlined" style="margin: 0%;">
        <input id="date" type="text" class="input-outlined datepicker">
        <label for="date">Selct Date</label>
      </div>  
    </div>




  </div>
</div>




<div class="container">
  <center>
    {% if message %}
    <h4 class="green-text">{{message}}</h4>
    {% endif %}

    {% if error %}
    <h4 class="red-text">{{error}}</h4>
    {% endif %}


  </center>


  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger minimized_modal_loader_btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet" style="min-height:80%">
    <div class="modal-content" >
      <table class="striped">
        <thead>
          <tr>
            <th>Index</th>
            <th>Prticipant Name</th>
            <th>Badge</th>
          </tr>
        </thead>
    
        <tbody class="bottom_sheet_info_body"> 
    
    
        </tbody>
      </table>
    
    </div> 
  </div>
          



  <div> 
  
    {% if my_initiatives %}
    <table>
      <thead>
        <tr>
          <th>Initiative Name</th>
          <th>Category</th>
          <th>Date</th>
          <th>People Enrolled</th>
          <th>Menu</th>
        </tr>
      </thead>

      <tbody>
        {% for initiative in my_initiatives %}
        <tr id="{{initiative.id}}">
          <td> <a href="/update_initiative/{{initiative.id}}">{{initiative.title}}</a></td>
          <td>{{initiative.category}}</td>
          <td>{{initiative.event_date}}</td>
          <td>{{initiative.enrolled.count}}</td>
          <td> <i id="{{initiative.id}}" class="modal_loader_icon material-icons blue-text" style="cursor:pointer !important">menu</i> </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <center>
      <img src="https://cdn.iconscout.com/icon/free/png-256/data-not-found-1965034-1662569.png" alt="">
      <h3><b>You don't have any initiatives yet</b></h3>
    </center>
    {% endif %}




  </div>

</div>




<script>


$('.modal_loader_icon').click(function(e){ 
  var initiative_id = this.id
  $.ajax({
    url: `/dashboard/my_initiatives_info`, 
    data: {"id":initiative_id },
    success: function(data){
      var results = data.results 
      var badges = data.badges     
      $('.bottom_sheet_info_body').html("")




      for(var x=0;x<results.length;x++){
        var virtual_td_id = `virtual_td_id_${results[x].id}`
        var virtual_td_select_id = `virtual_td_select_id_${results[x].id}`
        var virtual_tr = $(`<tr></tr>`)
        virtual_tr.append(`<td> ${x+1} </td>`)
        virtual_tr.append(`<td> ${results[x].orignal_name}  </td>`)
        var virtual_td = $(`<td></td>`)
        var selection_template = $(`<select name="badge" class="browser-default" id='${virtual_td_select_id}'></select> `)
        if(results[x].badge==null){
          selection_template.append(`<option value="Select Badge" disabled selected>Select Badge</option>`)
        }
        for(var y=0;y<badges.length;y++){
          if(badges[y].badge==results[x].badge){
            selection_template.append(`<option value="${badges[y].badge}" selected>${badges[y].badge}</option>`)
          }else{
            selection_template.append(`<option value="${badges[y].badge}">${badges[y].badge}</option>`)
          }
        }



        selection_template.change(function(e){
          SET_BADGE(initiative_id,this.id,this.value)
        })
        virtual_td.append(selection_template)
        virtual_tr.append(virtual_td)
        $('.bottom_sheet_info_body').append(virtual_tr)
      }

      $('.minimized_modal_loader_btn')[0].click()

      
    }
  }); 
})



function SET_BADGE(initiative_id,user_id,badge){
  user_id = user_id.toString().split('_')
  user_id = user_id[user_id.length-1]
  $.ajax({
    url: "/dashboard/set_badge_to_user", 
    data: {"initiative_id":initiative_id, 'user_id': user_id, 'badge':badge },
    success: function(data){
      var results = data.results
      
    }
  }); 
}



function FETCH_RESULTS(){
  var category  = $('#select_category').val()
  var date      = $('#date').val() 
  $.ajax({
    url: "/dashboard/initial_filter", 
    data: {"date":date, 'category': category },
    success: function(data){
      var results = data.results
      var trs = $('tr')
      trs.hide()
      for(var x=0;x<results.length;x++){
        var tr = $(`tr#${results[x].id}`)
        tr.show();
      }
      
    }
  }); 
}


  $('#select_category').change(function(e){ 
   FETCH_RESULTS()
  })
  
  $('#date').change(function(e){ 
   FETCH_RESULTS()
  })
  
</script>






{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}