{% extends 'base.html' %}v
{% block 'mainbody' %}

<style> 
  .mapboxgl-ctrl-geocoder {
    border-bottom: none!important; 
  min-width: 100%; 
  } 
 

  .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
    all:unset !important;
    overflow: hidden !important;
    height:initial !important
}

.mapboxgl-ctrl-geocoder--input{
border-bottom: none!important;
box-shadow: none!important;
border-bottom: 0px !important;
margin: 0px !important;
margin-left: 3rem !important;
height: 36px !important; 
width: 80% !important;
}



#select_category{
  height: 36px !important; 
}




  .mapboxgl-ctrl-geocoder--icon-search {
     top:15% !important
  }  
  .mapboxgl-ctrl-geocoder--icon-close {
     margin-top: 6% !important;
     margin-right: 1rem !important;
  }
  #map {width: 100%;height:600px }
 .row .col{
   margin: 0px !important;
   padding:0% !important
 }
  </style>

<br>

<div class="container">
  <center>
    {% if message %}
    <h4 class="green-text">{{message}}</h4>
    {% endif %}

    {% if error %}
    <h4 class="red-text">{{error}}</h4>
    {% endif %}


  </center>


  <div class="container">
    <form action="/dashboard/user_profile/" id="profile_form" method="post" id="signup_form" class='z-depth-2'
      style="padding: 20px;border-radius: 10px;"> {% csrf_token %}
      <center>
        <h3><b>My Profile</b></h3>
      </center>


      <div class="input-field ">
        <input id="username" name="username" type="text" class="validate" value="{{profile.orignal_name}}" required>
        <label for="username">Username</label>
      </div>

      <div class="input-field ">
        <input id="email" name="email" type="email" class="validate" value="{{profile.email}}" required>
        <label for="email">Email</label>
      </div>



      <div class="input-field ">
        <input id="password" type="text" name="password" class="validate" value="{{profile.password}}" required>
        <label for="password">Password</label>
      </div>
      <div class="row"> 
   
  
        <div id="geocoder" class="geocoder" style="position: inherit !important;margin-bottom: 10px !important;"></div>
        <div id="map" class="z-depth-2" style="width:1px;height:1px"></div>
      </div>
      <div style="visibility: hidden;">
        <input id="longitude" name="longitude" type=''  style="width: 0.1px !important;height:0.1px !important">
        <input id="latitude" name="latitude" type=''  style="width: 0.1px !important;height:0.1px !important">
        <input id="place_name" name="place_name" type=''  value="{{profile.place_name}}"  style="width: 0.1px !important;height:0.1px !important">
        <input id="city" name="city" type=''  style="width: 0.1px !important;height:0.1px !important">
        <input id="region" name="region" type=''  style="width: 0.1px !important;height:0.1px !important">
        <input id="country" name="country" type=''  style="width: 0.1px !important;height:0.1px !important">
  
       </div>



      <button class="btn right" style="width: 30%;">Update Profile</button>
      <br>
      <br>


    </form>
  </div>
</div>


<script>
  $('.mapboxgl-ctrl-geocoder--input').ready(function(){
    $('.mapboxgl-ctrl-geocoder--input').val($('#place_name').val())
  })
   
</script>



<script>
$("#profile_form").submit(function(e){
  var location = $('.mapboxgl-ctrl-geocoder--input').val()  
//  alert($('#place_name').val())
  if (/\S/.test(location)){
    
  }else{
    e.preventDefault()
    alert("Select valid Locationy")
  }
})


</script>


<script>
  $('.mapboxgl-ctrl-geocoder--input').addClass('browser-default')
  $('.mapboxgl-ctrl-geocoder--input').attr("placeholder", "Type your answer here");
  mapboxgl.accessToken = 'pk.eyJ1IjoibWFzaG9vZDEyMyIsImEiOiJja3JpcTAwcXE0M3YyMzByMmxuM25yaGlkIn0.-7kWuyQlkkj0m9X-EuNnFw';
  const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [-79.4512, 43.6568],
  zoom: 13
  });
  const geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  mapboxgl: mapboxgl, 
  });
  document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
  geocoder.on('result', function(e) {
    
    var data = e.result
    console.log(data)
  var longitude = data.center[0]
  var latitude = data.center[1]
  var place_name = data.place_name
  //var city = data.context[data.context.length-3].text
  //var region = data.context[data.context.length-2].text
  // var country = data.context[data.context.length-1].text
  var new_data  = data['place_name_en-US'].split(',')
  var country = new_data[new_data.length-1]
  var region = new_data[new_data.length-2]
  var city = new_data[new_data.length-3]

  $('#longitude').val(longitude)
  $('#latitude').val(latitude)
  $('#place_name').val(place_name) 
  $('#city').val(city) 
  $('#region').val(region) 
  $('#country').val(country) 








    })
  </script>



{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}